body{
    background-position: center;
    background-size: cover;
    height: 720px;
}
h1{
    width: 100%;
    color:white;
    margin:0px;
    background-color: aquamarine;
    font-size: 40px;
    text-align: center;
    font-family: 'Oswald', sans-serif;}
button{
    border-radius: 30px;
    background-color: rgb(202, 255, 255);
    
}


